body {
	background-color: #ddd;
}
.ColorSwatch {
	width: 40px;
	height: 100px;
	text-align: center;
	float: left;
}
.ColorSwatch p {
	vertical-align: middle;
}
#controls {
	clear: both;
	padding-top: 20px;
}
input.SmallNumeric {
	width: 50px;
	text-align: right;
	margin-right: 10px;
}
.Slider { 
	margin: 10px;
	width: 600px;
	float: left;
}